*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 30, 30);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 30%;
}
h1{
    color: #00adef;
    font-size: 8rem;
    margin: 3%;
}
.logo{
    width: 500px;
    height: 350px;
    background-color:#00adef;
    transform: perspective(400px) rotateY(-25deg);

}
.logo:after{
    content: '';
    width: 7px;
    height: 100%;
    background-color:black;
    position: absolute;
    top: 0%;
    left: 60%;

}
.logo:before{
    content:'';
    width:100%;
    height: 6px;
    background-color:black;
    position: absolute;
    top:50% ;
    left: ;


}